
@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');

img{
    background-color: #08375F;
}
a{
    color: white;
    background-color: #00000000;
}

.backgroundLogin{
    background-color: #0d72c4;
    background-color: #fffffff0;
    background-color: #03030308;
    background-color: #0000003f;
    border-radius: 35px 0 0 35px;
    flex-direction: column;
    display: flex;
    border: 50rem;
    justify-content: center;
    align-items: self-start;
    margin-top: 3rem;
    font-size:large;
    margin-bottom: 2rem;;
    width: 50rem;
    height: 30rem;
    padding: 0rem 2rem;
    gap: 1rem;
}

.inputLogin {
    background-color: #0d72c4;
    background-color: #fffffff0;
    background-color: #03030308;
    background-color: #0000003f;
    border: none;
    height: 3rem;
    width:42rem;
    border-radius: 10px;
    padding: 0 1rem;
    color: white;
    border: solid;
    border-style: none;
}

.loginInput {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.middleLogin{
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    background-image: url("../../../public/photo-background1@2x.png");
    background-color: #08375F;
    height: 100vh;
    background-size: cover;
}

.loginTitle{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.entrar {
    background-color: #0D71c4;   
    width: 8rem;
}

.fontTitle {
    font-family:  'Archivo', sans-serif;
    font-size: 4rem;
}